body{
    background-image: url("../images/back_img.jpg");
    background-size: 100%;
    background-repeat: repeat-y;
}
.header{
    padding: 5rem 2rem;
    text-align: center; 
    font-size: 3rem;
    font-weight: bold;
}
.subheader{
    padding-top: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: black;
}
.resume-subheader{
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}
.section-title{
    padding: 1rem;
    border-top-style: solid;
    font-weight: bold;
}
.text{
    color: black;
    text-align: center;
    font-size: 1.25rem;
}
.title-text{
    color:black;
    padding: 0rem 0.5rem;
    text-align: center;
}
.resume-text{
    color:black;
    font-size: 1.25rem;
}
.title-bar{
    background-color: rgb(94, 104, 243);
}
.menu-icon{
    color: black;
}
.textbox{
    background-color: rgba(245, 47, 47, 0.85);
    padding:2rem;
    border-radius: 0.5rem;
}
.img-background{
    background-color: rgba(245, 47, 47, 0.85); 
    padding: 1rem; 
    border-radius: 0.5rem;
}
.spacer{
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}



